<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
<form method="post" action="{S_LOGIN_ACTION}" class="phpbb_alert modal-login" id="modal-login" role="dialog" aria-modal="true" aria-labelledby="login_modal_heading">
	<a href="#" class="alert_close"><i class="icon fa-times-circle fa-fw" aria-hidden="true"></i><span class="sr-only">{L_CLOSE_WINDOW}</span></a>
	<h3 id="login_modal_heading"><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
	<fieldset class="modal-quick-login">
		<dl>
			<dt>
				<label for="username"><span>{L_USERNAME}{L_COLON}</span></label>
			</dt>
			<dd>
				<input type="text" name="username" id="username" class="inputbox" title="{L_USERNAME}" placeholder="{L_USERNAME}">
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="password"><span>{L_PASSWORD}{L_COLON}</span></label>
			</dt>
			<dd>
				<input type="password" name="password" id="password" class="inputbox" title="{L_PASSWORD}" autocomplete="off" placeholder="{L_PASSWORD}">
			</dd>
			<!-- IF U_SEND_PASSWORD --><dd><a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a></dd><!-- ENDIF -->
			<!-- IF U_RESEND_ACTIVATION --><dd><a href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a></dd><!-- ENDIF -->
		</dl>

		<!-- IF S_AUTOLOGIN_ENABLED --><label for="autologin"><input type="checkbox" name="autologin" id="autologin"> {L_LOG_ME_IN}</label><!-- ENDIF -->
		<label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline"> {L_HIDE_ME}</label>

		<div class="center"><input type="submit" name="login" value="{L_LOGIN}" class="button2"></div>
		{S_LOGIN_REDIRECT}
		{S_FORM_TOKEN_LOGIN}
	</fieldset>
</form>
<!-- ENDIF -->
