<div id="notification_list" class="dropdown dropdown-extended notification_list">
	<div class="pointer"><div class="pointer-inner"></div></div>
	<div class="dropdown-contents">
		<div class="header">

				<a href="{{ U_NOTIFICATION_SETTINGS }}">{{ lang('SETTINGS') }}</a>
				{% if NOTIFICATIONS_COUNT %}
					<span id="mark_all_notifications"> &bull; <a href="{{ U_MARK_ALL_NOTIFICATIONS }}" data-ajax="notification.mark_all_read">{{ lang('MARK_ALL_READ') }}</a></span>
				{% endif %}

		</div>

		<ul>
			{% if not notifications|length > 0 %}
				<li class="no_notifications">
					{{ lang('NO_NOTIFICATIONS') }}
				</li>
			{% endif %}
			{% for notification in notifications %}
				<li class="{% if notification.UNREAD %} bg2{% endif %}{% if notification.STYLING %} {{ notification.STYLING }}{% endif %}{% if not notification.URL %} no-url{% endif %}">
					{% if notification.URL %}
						<a class="notification-block" href="{% if notification.UNREAD %}{{ notification.U_MARK_READ }}" data-real-url="{{ notification.URL }}{% else %}{{ notification.URL }}{% endif %}">
					{% endif %}
						{% if notification.AVATAR %}{{ notification.AVATAR }}{% else %}<i class="icon fa-fw fa-user"></i>{% endif %}
						<div class="notification_text">
							<p class="notification-title">{{ notification.FORMATTED_TITLE }}</p>
							{% if notification.REFERENCE %}<p class="notification-reference">{{ notification.REFERENCE }}</p>{% endif %}
							{% if notification.FORUM %}<p class="notification-forum">{{ notification.FORUM }}</p>{% endif %}
							{% if notification.REASON %}<p class="notification-reason">{{ notification.REASON }}</p>{% endif %}
							<p class="notification-time">{{ notification.TIME }}</p>
						</div>
					{% if notification.URL %}</a>{% endif %}
					{% if notification.UNREAD %}
						<a href="{{ notification.U_MARK_READ }}" class="mark_read icon-mark" data-ajax="notification.mark_read" title="{{ lang('MARK_READ') }}">
							 <i class="icon fa-check-circle icon-xl fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('MARK_READ') }}</span>
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>

		<div class="footer">
			<a href="{{ U_VIEW_ALL_NOTIFICATIONS }}"><span>{{ lang('SEE_ALL') }}</span></a>
		</div>
	</div>
</div>
