{% if definition.DAMAIO_DEVIANTART || definition.DAMAIO_FACEBOOK || definition.DAMAIO_FLICKR || definition.DAMAIO_GITHUB || definition.DAMAIO_INSTAGRAM || definition.DAMAIO_LINKEDIN || definition.DAMAIO_PINTEREST || definition.DAMAIO_REDDIT || definition.DAMAIO_SKYPE || definition.DAMAIO_SNAPCHAT || definition.DAMAIO_SOUNDCLOUD || definition.DAMAIO_STEAM || definition.DAMAIO_TUMBLR || definition.DAMAIO_TWITTER || definition.DAMAIO_WHATSAPP || definition.DAMAIO_YOUTUBE || definition.DAMAIO_FEED %}
<div class="socialinks">
	<ul>
		{% macro menuitem(href, name) %}
		<li class="socialinks-list-item">
			<a href="{{ href }}" title="{{ name }}">
				<i class="icon icon-xl fa-{{ name|lower }}"></i>
			</a>
		</li>
		{% endmacro %}
		{% import _self as items %}
		{% if definition.DAMAIO_DEVIANTART %}
			{{ items.menuitem(definition.DAMAIO_DEVIANTART, 'DeviantArt') }}
		{% endif %}
		{% if definition.DAMAIO_FACEBOOK %}
			{{ items.menuitem(definition.DAMAIO_FACEBOOK, 'Facebook') }}
		{% endif %}
		{% if definition.DAMAIO_FLICKR %}
			{{ items.menuitem(definition.DAMAIO_FLICKR, 'Flickr') }}
		{% endif %}
		{% if definition.DAMAIO_GITHUB %}
			{{ items.menuitem(definition.DAMAIO_GITHUB, 'GitHub') }}
		{% endif %}
		{% if definition.DAMAIO_INSTAGRAM %}
			{{ items.menuitem(definition.DAMAIO_INSTAGRAM, 'Instagram') }}
		{% endif %}
		{% if definition.DAMAIO_LINKEDIN %}
			{{ items.menuitem(definition.DAMAIO_LINKEDIN, 'LinkedIn') }}
		{% endif %}
		{% if definition.DAMAIO_PINTEREST %}
			{{ items.menuitem(definition.DAMAIO_PINTEREST, 'Pinterest') }}
		{% endif %}
		{% if definition.DAMAIO_REDDIT %}
			{{ items.menuitem(definition.DAMAIO_REDDIT, 'Reddit') }}
		{% endif %}
		{% if definition.DAMAIO_SKYPE %}
			{{ items.menuitem(definition.DAMAIO_SKYPE, 'Skype') }}
		{% endif %}
		{% if definition.DAMAIO_SNAPCHAT %}
			{{ items.menuitem(definition.DAMAIO_SNAPCHAT, 'Snapchat') }}
		{% endif %}
		{% if definition.DAMAIO_SOUNDCLOUD %}
			{{ items.menuitem(definition.DAMAIO_SOUNDCLOUD, 'SoundCloud') }}
		{% endif %}
		{% if definition.DAMAIO_STEAM %}
			{{ items.menuitem(definition.DAMAIO_STEAM, 'Steam') }}
		{% endif %}
		{% if definition.DAMAIO_TUMBLR %}
			{{ items.menuitem(definition.DAMAIO_TUMBLR, 'Tumblr') }}
		{% endif %}
		{% if definition.DAMAIO_TWITTER %}
			{{ items.menuitem(definition.DAMAIO_TWITTER, 'Twitter') }}
		{% endif %}
		{% if definition.DAMAIO_WHATSAPP %}
			{{ items.menuitem(definition.DAMAIO_WHATSAPP, 'WhatsApp') }}
		{% endif %}
		{% if definition.DAMAIO_YOUTUBE %}
			{{ items.menuitem(definition.DAMAIO_YOUTUBE, 'YouTube') }}
		{% endif %}
		{% if definition.DAMAIO_FEED eq '1' && S_ENABLE_FEEDS %}
		<li class="socialinks-list-item">
			<a type="application/rss+xml" href="{{ U_FEED }}">
				<i class="icon icon-xl fa-rss" title="{{ lang('FEED') }} - {{ SITENAME }}"></i>
			</a>
		</li>
		{% endif %}
	</ul>
</div>
{% endif %}
