<div class="socialinks">
	<ul>
		<!-- <li class="socialinks-list-item">
			<a href="https://www.deviantart.com/" title="Deviantart">
				<i class="icon icon-xl fa-deviantart"></i>
			</a>
		</li> -->
		<li class="socialinks-list-item">
			<a href="https://www.facebook.com/" title="Facebook">
				<i class="icon icon-xl fa-facebook"></i>
			</a>
		</li>
		<!-- <li class="socialinks-list-item">
			<a href="https://www.flickr.com/" title="Flickr">
				<i class="icon icon-xl fa-flickr"></i>
			</a>
		</li> -->
		<li class="socialinks-list-item">
			<a href="https://github.com/" title="Github">
				<i class="icon icon-xl fa-github"></i>
			</a>
		</li>
		<!-- <li class="socialinks-list-item">
			<a href="https://www.instagram.com/" title="Instagram">
				<i class="icon icon-xl fa-instagram"></i>
			</a>
		</li> -->
		<!-- <li class="socialinks-list-item">
			<a href="https://linkedin.com/" title="LinkedIn">
				<i class="icon icon-xl fa-linkedin"></i>
			</a>
		</li> -->
		<!-- <li class="socialinks-list-item">
			<a href="https://pinterest.com/" title="Pinterest">
				<i class="icon icon-xl fa-pinterest"></i>
			</a>
		</li> -->
		<!-- <li class="socialinks-list-item">
			<a href="https://www.reddit.com/" title="Reddit">
				<i class="icon icon-xl fa-reddit"></i>
			</a>
		</li> -->
		<!-- <li class="socialinks-list-item">
			<a href="https://www.skype.com/" title="Skype">
				<i class="icon icon-xl fa-skype"></i>
			</a>
		</li> -->
		<!-- <li class="socialinks-list-item">
			<a href="https://www.snapchat.com/" title="Snapchat">
				<i class="icon icon-xl fa-snapchat"></i>
			</a>
		</li> -->
		<!-- <li class="socialinks-list-item">
			<a href="https://soundcloud.com/" title="Soundcloud">
				<i class="icon icon-xl fa-soundcloud"></i>
			</a>
		</li> -->
		<!-- <li class="socialinks-list-item">
			<a href="http://store.steampowered.com/" title="Steam">
				<i class="icon icon-xl fa-steam "></i>
			</a>
		</li> -->
		<!-- <li class="socialinks-list-item">
			<a href="https://www.tumblr.com/" title="Tumblr">
				<i class="icon icon-xl fa-tumblr"></i>
			</a>
		</li> -->
		<li class="socialinks-list-item">
			<a href="https://twitter.com/" title="Twitter">
				<i class="icon icon-xl fa-twitter"></i>
			</a>
		</li>
		<!-- <li class="socialinks-list-item">
			<a href="https://www.whatsapp.com/" title="Whatsapp">
				<i class="icon icon-xl fa-whatsapp"></i>
			</a>
		</li> -->
		<!-- <li class="socialinks-list-item">
			<a href="https://wordpress.com/" title="Wordpress">
				<i class="icon icon-xl fa-wordpress"></i>
			</a>
		</li> -->
		<li class="socialinks-list-item">
			<a href="https://www.youtube.com/" title="Youtube">
				<i class="icon icon-xl fa-youtube"></i>
			</a>
		</li>
		<!-- IF S_ENABLE_FEEDS -->
		<li class="socialinks-list-item">
			<a type="application/rss+xml" href="{U_FEED}">
				<i class="icon icon-xl fa-rss" title="{L_FEED} - {SITENAME}"></i>
			</a>
		</li>
		<!-- ENDIF -->
	</ul>
</div>