@charset "utf-8";

/* https://google-webfonts-helper.herokuapp.com/fonts/rubik */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-display: swap;
	src: url('fonts/rubik-regular.woff2') format('woff2'),
		 url('fonts/rubik-regular.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/rubik-600.woff2') format('woff2'),
       url('fonts/rubik-600.woff') format('woff');
}

:root {
	--border-radius-big: max(0px, min(4px, calc((100vw - 4px - 100%) * 9999)));
	--border-radius-small: 2px;
}

body {
	font-size: 12px;
	padding: 0;
	line-height: 1.5;
}

body,
h1,
a.forumtitle,
.content,
fieldset,
.pagination li.active span,
dl.faq,
.button,
a.button1,
input.button1,
a.button2,
input.button2,
input.button3,
fieldset.polls {
	font-family: 'Rubik', sans-serif;
}

.main-width {
	max-width: 1152px;
	margin: 0 auto;
}

.wrap {
	border: none;
	border-radius: 0;
	padding: 0 5px;
}

@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
	.wrap {
		margin: 0 auto;
	}
}

.headerbar {
	background-image: none;
	border-radius: 0;
	margin-bottom: 0;
	line-height: 1;
}

.site_logo {
	background-image: url("./images/logo.svg");
	width: 153px;
	height: 57px;
}

.navbar {
	border-radius: 0 0 var(--border-radius-big) var(--border-radius-big);
}

.page-footer .navbar {
	padding-bottom: 0;
	border-radius: var(--border-radius-big) var(--border-radius-big) 0 0;
}

.forabg, .forumbg {
	background-image: none;
	border-radius: var(--border-radius-big) var(--border-radius-big) 0 0;
	margin-bottom: 5px;
	padding: 0;
}

ul.navlinks {
	border-top: none;
}

.panel {
	border-radius: var(--border-radius-big);
}

.panel .fa-user {
	width: auto;
	height: auto;
}

.post {
	border-radius: var(--border-radius-big);
}

.forumbg-table > .inner {
	margin: 0;
}

.pagination li a,
.pagination li span {
	border-radius: 0;
}

.pagination li.page-jump a {
	padding: 2px 8px;
}

.pagination li.page-jump a i {
	font-size: 14px;
}

.row .pagination li a,
.row .pagination li span {
	border-radius: 0;
	padding: 2px 4px;
}

div.rules {
	border-radius: 0;
}

.badge {
	border-radius: var(--border-radius-small);
}

.member-search {
	padding: 11px 10px;
}

a.forumtitle {
    font-size: 1.1em;
}

a.arrow-up 		{ padding-left: 0; }
a.arrow-down 	{ padding-right: 0; }
a.arrow-left 	{ padding-left: 0; }
a.arrow-right 	{ padding-right: 0;  }

li.header dt,
li.header dd {
	padding-top: 13px;
	padding-bottom: 9px;
}

li.row {
	border-top: none;
}

li.header dl.row-item dt .list-inner {
	padding-left: 10px;
}

dl.row-item dt .list-inner {
	padding-left: 55px;
}

dl.row-item dt {
	min-height: 45px;
}

dl.row-item dt[style*="background-image"],
dd.lastpost > span > *:not(dfn) {
	position: relative;
}

.postbody .content {
    font-size: 1.2em;
}

blockquote.uncited {
	padding-top: 5px;
}

.button {
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: var(--border-radius-small);
	padding: 5px 8px;
}

.button:hover,
.button:focus {
	background-image: none;
	text-shadow: none;
}

.search-header .button-search, .search-header .button-search-end {
	padding: 5px 5px 7px;
}

.button-search, .button-search-end {
	padding: 5px;
}
.button-search {
	border-radius: 0;
}

.button-search-end {
	border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
}

.button-icon-only {
	line-height: normal;
}

.has-profile .post-buttons {
	right: -12px;
}

.format-buttons .bbcode-size,
.format-buttons .bbcode-size:hover {
	border-top: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 4px solid transparent;
}

.format-buttons {
	margin: 13px 0 0 0;
}

.format-buttons .button, .format-buttons .bbcode-size {
	margin: 2px 0;
}

.format-buttons select {
	padding: 2px 1px;
}

.format-buttons .button-secondary {
	padding: 3px 3px 4px;
}

.tabs .tab, .minitabs .tab {
	margin-right: 5px;
}

.tabs {
	margin: 20px 0 5px 5px;
}

.tabs .tab > a {
	border-radius: 0;
	margin: 0;
}

.tabs .tab > a, .minitabs .tab > a {
	padding: 9px;
}

.tabs .activetab > a {
	padding-bottom: 9px;
}

.tabs .activetab > a,
.tabs .activetab > a:hover {
	background-image: none;
	box-shadow: none;
}

.responsive-tab .responsive-tab-link::before {
	position: static;
	font-family: FontAwesome;
	content: "\f0c9";
	border: 0;
}

.minitabs {
	margin: 15px 5px 5px 0;
}

.minitabs .tab > a {
	border-radius: 0;
	margin: 0;
}

.navigation ul {
	margin-right: 5px;
}

.navigation a {
	margin: 0 0 5px;
	padding: 9px;
}

.cp-mini {
	border-radius: 0;
	margin: 5px 5px 0 0;
}

@media (max-width: 900px) {
	.navigation li:first-child a {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.navigation li:last-child a {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.center {
	text-align: center;
}

.inputbox {
    padding: 4px;
	border-radius: var(--border-radius-small);
}

fieldset.submit-buttons input {
	margin: 2px 0;
	padding: 0.5em 2em 0.7em;
}

input.button1, input.button2 {
	font-size: 13px;
}

a.button1,
input.button1,
input.button2,
input.button3 {
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0.5em 2em 0.7em;
	border-radius: var(--border-radius-small);
}

a.button2,
input.button2 {
	padding: 0.3em 2em;
}

a.button1:hover,
input.button1:hover,
a.button2:hover,
input.button2:hover,
input.button3:hover {
	background-image: none;
}

.search-box .inputbox {
	height: 30px;
	border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

.search-header {
	margin-right: 10px;
	margin-top: 25px;
	box-shadow: none;
}

.search-header .inputbox {
	border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

.arrow-left:hover .icon,
.arrow-right:hover .icon {
	margin-left: 0;
	margin-right: 0;
}

.alert_close .icon:before {
	width: 14px;
	height: 14px;
	font-size: 20px;
	line-height: .8;
}

ul.forums {
	background-image: none;
}

select {
    padding: 6px 1px;
}

.contact-icon	{ background-image: url("./images/icons_contact.svg"); }

.row-item[class*="_read"],
.row-item[class*="_unread"],
.forum_link,
.topic_moved {
	background-image: none;
}

.row-item[class*="_read"]::before,
.row-item[class*="_unread"]::before,
.forum_link::before,
.topic_moved::before,
.row-item[class*="_mine"]::after {
	font-family: 'FontAwesome';
	font-variant: normal;
	text-rendering: auto;
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.row-item[class*="_read"]::before,
.row-item[class*="_unread"]::before,
.forum_link::before,
.topic_moved::before {
	left: 10px;
	line-height: 28px;
	width: 28px;
	height: 28px;
	font-size: 20px;
	text-align: center;
	border-radius: var(--border-radius-small);
}

.row-item[class*="_mine"]::after {
    content: "\f0c8";
    font-size: 5px;
    left: 4px;
}

.row-item[class*="global_"]::before,
.row-item[class*="announce_"]::before {
	content: "\f0a1";
}

.row-item[class*="sticky_"]::before {
	content: "\f08d";
}
.row-item[class*="forum_"]::before {
	content: "\f114";
}
.row-item[class*="topic_"]::before,
.row-item[class*="pm_"]::before {
	content: "\f0e5";
}

.row-item[class*="_locked"]::before {
	content: "\f023";
}
.row-item.forum_link::before {
	content: "\f0c1";
}
.row-item.topic_moved::before {
	content: "\f064";
}

.icon.icon-red {
	font-weight: bold;
}

@media (max-width: 700px) {
	.headerbar, 
	.navbar,
	.forabg,
	.forumbg,
	.post,
	.panel,
	.stat-block	{
		margin-left: -5px;
		margin-right: -5px;
	}

	.cp-main .forabg,
	.cp-main .forumdb,
	.cp-main .post,
	.cp-main .panel {
		border-radius: 0;
	}

	.has-profile .post-buttons {
		right: 2px;
	}
}

.agreement {
    font-size: 14px;
}

.dropdown {
	border-radius: var(--border-radius-small);
}

.dropdown-button-control .dropdown {
    top: 32px;
}

.dropdown-button-control.dropdown-up .dropdown {
    bottom: 32px;
}

.dropdown .dropdown-contents {
	border-radius: var(--border-radius-small);
}

.dropdown-contents a {
	text-decoration: none;
	font-size: 1.1em;
}

.quick-links .dropdown-contents a {
    font-size: 1em;
}

a.header-avatar span::after {
    padding-left: 4px;
	padding-top: 4px;
}

.dropdown-extended .header {
	font-size: 1.1em;
	font-weight: normal;
	line-height: inherit;
	text-align: center;
	text-shadow: none;
	text-transform: none;
}

.dropdown-extended .header a {
	display: inline;
}

.dropdown-extended a.mark_read {
	border-radius: 0;
}

.dropdown-extended .notification-block .fa-user::before {
	font-size: 55px;
}

.dropdown-container-right .button {
	margin-right: 0;
}

.unread:hover {
	text-decoration: none;
}

.button-search-end .fa-cog:before			{ content: "\f00e"; }
.dropdown-contents .fa-file-o:before 		{ content: "\f0e5"; }
.lastpost .fa-external-link-square:before 	{ content: "\f0e5"; }
.icon-mark .fa-check-circle:before 			{ content: "\f046"; }
.nav-main .fa-inbox:before					{ content: "\f075"; }
.nav-main .fa-question-circle:before 		{ content: "\f128"; }
.row-item .fa-exclamation:before 			{ content: "\f06a"; }
.row-item .fa-file-o:before 				{ content: "\f114"; }
.row-item .fa-question:before 				{ content: "\f059"; }
.row-item .fa-recycle:before 				{ content: "\f057"; }

.dropdown-page-jump li {
	padding-top: 4px;
	padding-bottom: 4px;
}

.row-item .fa-file-o::before,
.lastpost .fa-external-link-square::before {
	font-size: 12px;
}

.dropdown-contents .fa-check-circle::before,
.row-item .fa-exclamation::before,
.row-item .fa-question::before,
.row-item .fa-rss-square::before,	
.row-item .fa-recycle::before {
	font-size: 16px;
}

.cp-main .fa-user::before {
	font-size: 110px;
}

.cp-main .topiclist .fa-user::before {
	font-size: 55px;
}

ul.linklist li a {
	text-decoration: none;
}

.cron img {
	display: none;
}

.dropdown-extended .notification-block .fa-user {
	float: left;
	margin-left: 4px;
	width: auto;
	height: auto;
}

.cp-main .row .fa-user {
	float: left;
	margin-left: 3px;
	width: auto;
	height: auto;
}

.postprofile dd, .postprofile dt {
    line-height: 1.3em;
}

.online-text {
	font-size: 0.9em;
	font-weight: bold;
	position: absolute;
	right: 8px;
	text-transform: uppercase;
	top: 8px;
}

.viewprofile.online-text {
	position: relative;
	float:right;
}

@media (max-width: 700px) {

	table.responsive.show-header thead,
	table.responsive.show-header th:first-child {
		text-align: center !important;
		text-transform: none;
		font-size: 1.1em;
	}

	.online-text {
		font-size: 0.6em;
		right: 5px;
		top: 3px;
	}
}

.footerbar {
	clear: both;
	overflow: hidden;
}

.footerbar .main-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
}

.copyright {
	text-align: left;
}

.footer-row {
	line-height: 1.5em;
}

.socialinks-list-item {
	display: inline-block;
	margin: 5px 2px;
}

.socialinks-list-item .icon {
	font-size: 2.2em;
	padding: 5px;
	opacity: 0.75;
}

.socialinks-list-item .icon:hover {
	opacity: 1;
}

.stat-block {
	padding: 12px 10px;
}

.stat-block:empty {
	display: none;
}

.stat-block h3 {
	font-size: 1em;
	margin: 0;
	border-bottom: none;
}

.stat-block p {
	margin: 0;
}

table.table1 thead th {
	line-height: inherit;
}

table.table1 thead th a {
	padding: 0 0 0 8px;
}

table.table1 tbody tr {
	border: none;
}

table.table1 tbody td {
	border-bottom: 1px solid transparent;
	border-top: none;
	padding: 5px 10px
}

@media (min-width: 701px) {
	table.table1 thead tr {
		height: 38px;
	}
}

.loading_indicator {
	border-radius: 0;
}

.rtl.damaio li.header dl.row-item dt .list-inner {
	padding-right: 10px;
}

.rtl.damaio dl.row-item dt .list-inner {
    padding-right: 55px;
}

.rtl li.row:hover dd {
	border-left-color: transparent;
}

.rtl .dropdown-extended .notification-block .fa-user {
	float: right;
	margin-right: 4px;
}

.rtl .row-item:before {
	left: inherit;
	right: 10px;
}

.rtl .copyright {
	text-align: right;
}

.rtl .online-text {
	right: inherit;
	left: 8px;
}

.rtl blockquote cite > div {
	float: left;
}

.rtl .stat-block h3 {
	padding: 12px 10px 12px 0;
}

.rtl.damaio .search-box .inputbox {
	border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
}

.rtl.damaio .button-search-end {
	border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

#modal-login {
	display: none;
	padding: 0;
	top: 25%;
	max-width: 350px;
	margin: 0 auto;
	border-radius: var(--border-radius-big);
}

.modal-login .alert_close {
    margin-right: -10px;
}

.modal-login h3 {
	margin-top: 10px;
    text-align: center;
	border: 0;
}

.modal-quick-login {
	margin: 0;
	padding: 10px;
}

.modal-quick-login dl {
    text-align: center;
}

.modal-quick-login dt {
	display: none;
}

.modal-quick-login dd {
    margin: 0;
}

.modal-quick-login label {
	padding: 0 0 4px 2px;
}

.modal-quick-login .inputbox {
	width: 95%;
    margin: 0 auto 8px;
	padding: 8px 4px;
	max-width: none;
}

.modal-quick-login .showpass-btn {
    top: -4px;
}

.quick-login input[type="checkbox"],
input[type="checkbox"],
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
	line-height: 1.3em;
    transform: translateY(-0.075em);
}

input[type="radio"][disabled] {
    opacity: 0.3;
}

input[type="checkbox"] {
    border-radius: var(--border-radius-small);
}

input[type="radio"],
input[type="radio"]::before {
    border-radius: 50%;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
    content: "";
	display: block;
    font-family: FontAwesome;
	text-align: center;
}

input[type="checkbox"]:checked::before {
	content: "\f00c";
}

input[type="radio"]:checked::before {
	content: "\f111";
	font-size: 0.9em;
}

.showpass-btn {
	margin-left: -22px;
	margin-right: 11px;
	z-index: 2;
	position: relative;
	cursor: pointer;
}

.scrolltop {
	padding: 0 6px 2px;
	font-size: 20px;
	border-radius: 1px;
	position: fixed;
	z-index: 9999;
	right: 20px;
	bottom: 80px;
	display: none;
	border-radius: var(--border-radius-small);
}

.avatar-letter {
	margin-bottom: 0;
	padding: 0.6em 0.5em;
	font-size: large;
	text-transform: uppercase;
	border-radius: var(--border-radius-small);
}

@media (min-width: 701px) {
	.avatar-letter {
		margin-bottom: 3px;
		font-size: xx-large;
	}
}

a.avatar-letter:hover,
a.avatar-letter:focus,
a.avatar-letter:active {
	text-decoration: none;
}

.cp-list .cp-list-item {
	padding: 10px 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 55px;
}

.cp-list-item span {
	display: none;
}

.cp-list-item button:disabled {
	opacity: 0.25;
}

#getcolors {
	display: none;
}

.sp-replacer {
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 0;
}

.sp-replacer.sp-active, .sp-replacer:hover {
    border: 0;
}

.sp-dd {
	display: none;
}

.sp-button-container {
    float: none;
    text-align: center;
}

.sp-container button:hover {
    opacity: 1;
}

.cc-btn:hover, .cc-btn:focus, .cc-btn:active {
    text-decoration: none;
}

.damaio .cc-compliance .cc-btn {
    border-radius: var(--border-radius-small);
}

[lang="fr"] ul.topiclist.two-columns dt {
	margin-right: -100px;
}

[lang="fr"] ul.topiclist.two-columns dt .list-inner {
	margin-right: 100px;
}

[lang="fr"] .topiclist.two-columns dd.mark {
	width: 100px;
}

.dropdown {
	animation: unfold 200ms ease-in-out forwards;
	transform-origin: top center;
}

.dropdown-up .dropdown {
	transform-origin: bottom center;
}

@keyframes unfold {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

/* Tweaks for phpBB official extensions
**************************************/

/* Collapsible Forum Categories */
.damaio .collapse-btn {
    margin: -28px 5px 0 0;
}

.rtl.damaio .collapse-btn {
    margin: -28px 0 0 5px;
}

/* Board Annoucements */
.damaio #phpbb_announcement {
	border-radius: var(--border-radius-big);
}

.damaio #phpbb_announcement .close {
	width: auto;
	height: auto;
	background-image: none;
}

#phpbb_announcement .close::before {
    display: inline-block;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 14px;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	content: "\f057";
}

.notouch.damaio #phpbb_announcement:hover .close {
	opacity: 1;
}

/* Board Rules */
.damaio .highlight {
	color: inherit;
	border: 1px dotted;
	scroll-margin-top: 0.5em;
	border-radius: var(--border-radius-small);
}
